#DB Connection 
DB_URL=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=

#JWT 
EPICEVENTS_SECRET= #minimum recommanded : 32bits long string

#Bootstrap Management User
BOOTSTRAP_MANAGEMENT_EMPLOYEE_NUMBER=
BOOTSTRAP_MANAGEMENT_FULL_NAME=
BOOTSTRAP_MANAGEMENT_EMAIL=
BOOTSTRAP_MANAGEMENT_PASSWORD=

#Sentry
SENTRY_DSN=
SENTRY_ENVIRONMENT=development
SENTRY_RELEASE=epicevents@0.1.0